<%- include('includes/head2.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <h1>Welcome to Babai Hotel</h1>
    <button><a class="<%= path === '/prods' ? 'active' : '' %>" href="/add">Sign up</a></button> /
    <button><a class="<%= path === '/prods' ? 'active' : '' %>" href="/login">Login</a></button>
<%- include('includes/end.ejs') %>