<%- include('includes/head2.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
    <h1>Welcome to Babai Hotel</h1>
    <a href="/signup"><button>Sign Up</button></a>/
    <a href="/login"><button>Log in</button></a>
<%- include('includes/end.ejs') %>